
<%= attachment_image_tag @blog, :image, :fill, 400, 350, format: 'jpeg' %>

<%= @blog.title %>

<%= @blog.body %>

<% if @blog.admin == current_admin %>
<%= link_to "投稿編集", edit_admin_blog_path(@blog.id) %>
<%= link_to "削除する", admin_blog_path(@blog.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
<% end %>

<% if user_signed_in? %>
<div class="new-comment">
<%= form_with(model:[@blog, @blog_comment], url: admin_blog_blog_comments_path(@blog), local: true) do |f| %>
  <%= f.text_area :blog_comment, rows:'5',placeholder: "コメントをここに入れてください" %>
  <%= f.submit "送信する" %>
<% end %>
<% end %>
</div>

<% if admin_signed_in? %>
<div class="new-comment">
<%= form_with(model:[@blog, @admin_blog_comment], url: admin_blog_admin_blog_comments_path(@blog), local: true) do |f| %>
  <%= f.text_area :admin_blog_comment, rows:'5',placeholder: "コメント" %>
  <%= f.submit "送信する" %>
<% end %>
<% end %>
</div>

<div class="comments">
<% @blog.blog_comments.each do |blog_comment| %>
  <%= attachment_image_tag blog_comment.user, :profile %>
  <%= blog_comment.user.name %>
  <%= blog_comment.created_at.strftime('%Y/%m/%d') %><%= blog_comment.blog_comment %>
  <% if blog_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", admin_blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div class="comments">
<% @blog.admin_blog_comments.each do |admin_blog_comment| %>
  <%= attachment_image_tag admin_blog_comment.admin, :blog, :fill, 100, 100, format: 'jpeg' %>
  <%= admin_blog_comment.admin.name %>
  <%= admin_blog_comment.created_at.strftime('%Y/%m/%d') %><%= admin_blog_comment.admin_blog_comment %>
  <% if admin_blog_comment.admin == current_admin %>
  <div class="comment-delete">
    <%= link_to "削除", admin_blog_admin_blog_comment_path(admin_blog_comment.blog, admin_blog_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>