<p>ようこそ<%= current_user.name %>さん!!</p>

<h2>ブログ(最近やっていること)</h2>

<%= attachment_image_tag @user, :profile %>

<%= @user.name %>

<% @blogs.each do |blog| %>

<div>
  <%= attachment_image_tag blog, :image, :fill, 300, 250, format: 'jpeg' %>
  <%= attachment_image_tag blog.admin, :blog, :fill, 70, 70, format: 'jpeg' %>
  <%= blog.admin.name %>
  <p><%= blog.created_at.strftime('%Y/%m/%d') %></p>
  <p>コメント : <%= blog.blog_comments.count %></p>
  <p>タイトル：<%= link_to admin_blog_path(blog.id) do %><%= blog.title %><% end %></p>
</div>

<% end %>

<h3>プロフィール</h3>

<%= attachment_image_tag @admin, :blog, :fill, 100, 100, format: 'jpeg' %>

<%= @admin.name %>

<%= @admin.email %>

<%= @admin.age %>

<%= @admin.birthday %>

<%= @admin.sign %>

<%= @admin.location %>

<%= @admin.hobby %>

<%= @admin.introduction %>





